/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.paticka {
  text-align: center;
  font-size: 14px;
  color: silver;
}

.paticka a {
  color: silver;
}

/* -------------------------------------------------- */
h1,
h2 {
  text-shadow: 1px 2px 3px rgb(93, 93, 93);
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}

.hlavniRecept,
.malyRecept1,
.malyRecept2,
.malyRecept3,
.malyRecept4 {
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  display: flex;
}

.hlavniRecept {
  min-height: 200px;
  background-image: url(images/salat.jpg);
}

.malyRecept1,
.malyRecept2,
.malyRecept3,
.malyRecept4 {
  min-height: 90px;
}

.malyRecept1 {
  background-image: url(images/chlebicek.jpg);
}
.malyRecept2 {
  background-image: url(images/tacos.jpg);
}
.malyRecept3 {
  background-image: url(images/cizrna.jpg);
}
.malyRecept4 {
  background-image: url(images/burger.jpg);
}

.kontejner {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 479px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 22px;
  }
  .hlavniRecept {
    min-height: 250px;
  }
  .malyRecept1,
  .malyRecept2,
  .malyRecept3,
  .malyRecept4 {
    min-height: 150px;
    width: 50%;
  }

  .hlavniRecept,
  .malyRecept1,
  .malyRecept2,
  .malyRecept3,
  .malyRecept4 {
    padding: 20px;
  }
  .maleRecepty {
    display: flex;
    flex-wrap: wrap;
  }
}

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku,
takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala
mobilní verze. Pokud se ti to stane, změň si v kódu hranici
mezi mobilem a tabletem třeba na 600px, nebo aktivuj v 
prohlížeči vývojářské nástroje s mobilním náhledem,
kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/
